:root {
  font-family: "Akzidenz-Grotesk Next", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  hyphens: auto;
  -webkit-hyphens: auto;

  --main-color: #ffffff;
  --dark-main-color: #000000;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  @media (min-width: 830px) {
    --col-gap: 2ch;
    --first-col: 25ch;
    --second-col: 55ch;
  }
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-bottom: 15rem;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--main-color);
    color: var(--dark-main-color);
  }

  a {
    color: var(--dark-main-color);
  }

  a:hover {
    color: #747bff;
  }
}

.infos {
  margin-top: 2ch;
  display: grid;
  grid-template-columns: var(--first-col) 1fr 1fr;
  gap: var(--col-gap);
  row-gap: 2ch;
}


h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  margin-bottom: 0.5ch;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
}

address,
a {
  font-style: normal;
  font-weight: 400;
}



h4 {
  font-weight: normal;
  font-size: 1rem;
}

ul {
  padding-left: 1ch;
}

section:not(:first-of-type) {
  margin-top: 10ch;
}


.item {
  display: grid;
  grid-template-columns: var(--first-col) var(--second-col);
  gap: var(--col-gap);
  align-items: center;
}


.experience .item {
  margin-bottom: 2ch;
  align-items: start;
}

p,
li,
.smdetail,
.item time {
  height: 100%;
  font-size: smaller;
}

.detail {
  font-weight: bold;
}

li {
  margin-top: 0.5ch;
}
